<nav class="container mx-auto">
  <div class="flex items-center px-4 py-6">
    <div class="flex justify-between items-center">
      <a
        id="site-title"
        class="link link--site-title font-montserrat text-gray-600"
        href="/">
        a<span class="hidden md:inline-flex">stro&nbsp;</span>p<span class="hidden md:inline-flex">ortfolio</span>
      </a>
    </div>

    <div id="navbar-collapse" class="ml-auto">
      <a href="/projects" class="p-2 lg:px-4 md:mx-2 text-gray-600">projects</a>
      <a href="/blog" class="p-2 lg:px-4 md:mx-2 text-gray-600">blog</a>
      <!-- <a href="/about" class="p-2 lg:px-4 md:mx-2 text-gray-600">about</a> -->
    </div>
  </div>
</nav>
